**/.classpath
**/.project
**/.settings
**/target
**/logs
**/tmp
**/eclipse
**/test-result
**/lib
**/dist
**/precompiled
**/bin
**/commands.pyc
**/.buildpath
.metadata
**/modules
dist
**/server.pid
**/cobertura.ser
**/.idea/
**/*.iml
**/*.iws
**/*.ipr
.pydevproject
